RewriteEngine On
RewriteBase /miniPhpRest/

# Rewrite rule for API requests
RewriteRule ^api/v1/(.*)$ api.php?route=/api/v1/$1 [L,QSA]

# Handle other requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]